<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <title>2-Digit Classifier</title>
  <link rel="stylesheet" href="{{ url_for('static', filename='web.css') }}">  
</head>
<body>
  <h2 style="font-size: 28px;">MNIST　2桁判別</h2>
  <h2>下のマスに数字を書いてください</h2>
  <canvas id="canvas" width="280" height="280"></canvas><br>
  <button onclick="clearCanvas()">Clear</button>
  <button onclick="predict()">Predict</button>
  <button onclick="downloadProcessedImage()">ダウンロード</button>

  <p id="result">Result: ?</p>


  <script src="{{ url_for('static', filename='web.js') }}"></script>
</body>
</html>
